@font-face {
    font-family: 'IranYekan';
    src: url('./iranYekan/iranYekan.eot'),
        url('./iranYekan/iranYekan.woff2') format('woff2'),
        url('./iranYekan/iranYekan.ttf') format('truetype'),
        url('./iranYekan/iranYekan.woff') format('woff');
}
@font-face {
    font-family: 'IranSans';
    src: url('./IranSans/IranSans.eot'),
        url('./IranSans/IranSans.woff2') format('woff2'),
        url('./IranSans/IranSans.ttf') format('truetype'),
        url('./IranSans/IranSans.woff') format('woff');
}

// Lalezar
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

// numbers
@font-face {
    font-family: 'Vazir';
    src: url('./vazir/Vazir.eot'), url('./vazir/Vazir.woff2') format('woff2'),
        url('./vazir/Vazir.ttf') format('truetype'),
        url('./vazir/Vazir.woff') format('woff');
    unicode-range: U+0030-0039, U+0660-0669;
}
