@use 'config' as g;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;

    &:focus {
        outline: 0;
    }
}
html,
body {
    scroll-behavior: smooth;
}

body {
    overflow-x: overlay;
    position: relative;
    font-family: 'IranSans';

    .root {
        overflow: hidden;
    }

    background-color: var(--primary-color);
    color: var(--accent-color);
}

::-webkit-scrollbar {
    width: 10px;
    background: #040404;
}

::-webkit-scrollbar-thumb {
    background-color: #272727;
    border: 2px solid #040404;
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

.title_hero {
    font-family: 'Redressed', cursive;
    font-size: g.$TITLE_FONTSIZE_HERO;
}
.title {
    font-size: g.$TITLE_FONTSIZE;
}
.title_small {
    font-size: g.$TITLE_FONTSIZE_SMALL;
}
.title_smaller {
    font-size: g.$TITLE_FONTSIZE_SMALLER;
}

.description {
    font-size: g.$DESCRIPTION_FONT_SIZE;
}
