.alert-container {
    padding: 1rem;
    border-radius: 10px;

    background-color: var(--primary-color);
    color: var(--accent-color);
    box-shadow: 0 0 10px var(--alert-shadow);
    pointer-events: all;

    border-right: 5px solid;

    direction: rtl;
    text-align: center;

    @media screen and (min-width: 900px) {
        min-width: 250px;
    }

    &.error {
        border-color: var(--alert-error);
    }
    &.info {
        border-color: var(--alert-info);
    }
    &.success {
        border-color: var(--alert-success);
    }

    z-index: 777;
}
