.section_title {
    // font-family: 'Shizuru', cursive;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;

    position: relative;

    overflow: hidden;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;

        svg {
            fill: #ff6700;
            color: #ff6700;
        }

        opacity: 0;
        transform: translateY(115%);

        text-transform: capitalize;

        transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #ff6700;

        transition: width 0.7s 1s cubic-bezier(0.52, 1.64, 0.07, 0.75);
    }

    &.shown::after {
        width: 100%;
    }
    &.shown span {
        opacity: 1;
        transform: translateY(0);
    }
}
