.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 95vh;
    width: 100%;

    position: relative;

    overflow: hidden;

    @media screen and (max-width: 1024px) {
        height: 50vh;
    }

    .background {
        height: 100%;
        width: 100%;

        position: absolute;
        inset: 0;
        z-index: 2;
        background-color: grey;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;

        transform-style: preserve-3d;
        perspective: 1000px;

        .background-color {
            width: 100%;
            height: 100%;

            position: absolute;
            inset: 0;
            z-index: 1;

            background-color: rgba(0, 0, 0, 0.4);
        }

        .block {
            width: 0.5%;

            height: 100%;
            transform-style: preserve-3d;

            background-image: url('/static/imgs/hero-section.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;

            &:nth-child(even) {
                animation: ShowPictur 2s ease-in-out backwards;
            }
            &:nth-child(odd) {
                animation: ShowPicturRevert 2s ease-in-out backwards;
            }
        }
    }

    .titles-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3vh;

        color: white;

        padding: 1rem 2rem;

        border-radius: 10px;

        z-index: 3;

        .paragraph {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5vh;

            font-weight: bold;
        }

        .register-bar {
            width: 100%;
            max-width: 1500px;

            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.2vw;

            @media screen and (max-width: 1042px) {
                gap: 0.5vw;
            }

            input {
                width: 100%;
                height: 100%;

                animation: FadeIn 1s 2.5s backwards;

                padding: 1.5rem 1rem;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                border: none;

                caret-color: var(--thirty-percent-color);

                @media screen and (max-width: 1042px) {
                    padding: 1rem 0.5rem;
                }
            }
            .go-btn {
                height: 100%;
                padding: 0 1rem;
                cursor: pointer;

                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: var(--sixty-percent-color);

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5vw;

                .holder {
                    width: max-content;
                }

                .icon {
                    transition: transform 0.2s ease-in-out;
                }

                &:hover,
                &:focus {
                    .icon {
                        transform: translateX(25%);
                    }
                }
            }
        }

        span {
            overflow: hidden;
            div {
                text-align: center;

                animation: FadeIn 1s 2.5s backwards;
            }
        }
    }

    .scroll-down {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: absolute;
        bottom: 30px;
        z-index: 3;

        cursor: pointer;

        @media screen and (max-width: 1024px) {
            bottom: 10px;
        }

        .wrapper {
            animation: ArrowShowWrapper 2s infinite;
            width: 20px;
            height: 20px;

            display: grid;
            place-items: center;

            @media screen and (max-width: 1024px) {
                width: 12px;
                height: 12px;
            }
            span {
                width: 100%;
                height: 100%;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-animation: ArrowShow 2s infinite;
                animation: ArrowShow 2s infinite;
                opacity: 0;
            }
        }
    }
}

@keyframes ArrowShow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ArrowShowWrapper {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes ShowPictur {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes ShowPicturRevert {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes FadeIn {
    0% {
        transform: translateY(200%);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}
