.products-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    gap: 10vh;

    width: 100%;

    padding: 4vh 3vw;

    .products-wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
    }
}
